@using IceCreamShopContracts.ViewModels
@model List<MessageInfoViewModel>
@{
    ViewData["Title"] = "Mails";
}
<div class="text-center">
    <h1 class="display-4">Письма</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Отправитель
                    </th>
                    <th>
                        Дата письма
                    </th>
                    <th>
                        Заголовок
                    </th>
                    <th>
                        Текст
                    </th>
                    <th>
                        Ответ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reply)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <form>
            <button asp-action="PrevMailsPage" class="btn btn-primary">Назад</button>
            <input type="text" name="pageNumber" value="@ViewBag.Id" size="5" />
            <button asp-action="NextMailsPage" class="btn btn-primary">Вперёд</button>
        </form>
    }
</div>

@section Scripts
{
    <script>$('form input').change(function () {
            if ($('form input').val != '') {
            $(this).closest('form').submit();
        }
    });</script>
}

