@model IceCreamShopContracts.ViewModels.WarehouseViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h2 class="display-4">Изменить склад</h2>
</div>
<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="row">
        <div class="col-4">Название склада:</div>
        <div class="col-8"><input type="text" name="warehouseName" value="@Model.WarehouseName" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="FIO" value="@Model.ResponsiblePerson" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <input type="submit" value="Изменить" class="btn btn-primary" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Компонент
                </th>
                <th>
                    Количество
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WarehouseComponents)
            {
                <tr>
                    <td>
                        @item.Value.Item1
                    </td>
                    <td>
                        @item.Value.Item2
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>